<div>
	<div class="display">
      <h2 style="color:white;">CHAT BOX</h2>
      <div class="card msg" style="width: 40rem;">
          <div class="card-header">
            <b>Messages</b>
          </div>
          <ul style="list-style-type:none;" *ngFor="let item of items | async | slice:i:j">
              <li>
                <div class="row">
                  <div class="col-md-2 name">{{item.name}}</div>
                  <div class="col-md-10 msg">{{item.content}}</div>
                  <div style="border-bottom:1px solid grey;width:95%;margin-top:1px;"></div>
                </div>
              </li>
          </ul>
  	</div>
</div>

<!-- Enter name -->
<div *ngIf="show" class="typing-area">
    <form (ngSubmit)="onName()">
      <div class="form-group">
        <label for="Type Message"><b>Enter your Name</b></label> <input maxlength="7" type="text"
          class="form-control" placeholder="Type here..." id="item"
          required [(ngModel)]="name" autocomplete="off" name="item">
      </div>
      
      <div class="btn-group">
        <button *ngIf="name" type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>



<!-- TYPING AREA -->
<div *ngIf="!show" class="container-fluid typing-area">
    <div style="color:cornflowerblue;">
     <h3>{{name}}</h3>
    </div>
   
    <div style="width: 300px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text"
            class="form-control" placeholder="Type here..." id="item"
            required [(ngModel)]="itemValue" autocomplete="off" name="item">
        </div>
   
        <div class="btn-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
    </div>
  </div>